body{
    background-color: #FFFFFF;
    color: #003366;
    font-family: Verdana,Arial,sans-serif;
}

header{
    color: #AFC3F3;
    background-color: #003366;
    font-family: Georgia;
}

h1{
    line-height: 200%;
    text-indent: 1em;
}

h2{
    font-size: 1.2em;
}

nav{
    font-weight: bold;
}

dt{
    color: #5280C5;
    size: 1.1em;
    font-weight: bold;
    font-family: Georgia;
}

footer{
    font-size: 0.7em;
    font-style: italic;
}

li{
    font-weight: bold;
    color: #5380C5;
    size: 1.1em;
    font-weight: bold;
    font-family: Georgia;
}

#wrapper{
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    background-color: #F0F0F0;
}